extends layout

block content
  h1= title
  p Welcome to #{title}
  p Click on the following link to enter some information: 
    a(href="/form") Form
  p 
    | Sjáðu keilu-kött: 
    a(href="/kottur") Köttur!
