doctype html
html
  head
    title= title
    link(rel='stylesheet', href='dist/stylesheets/styles.css')
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
  body
    block content
    
  script(src="/javascripts/frontend.js")
